<nav id="dl-menu" class="dl-menuwrapper">
    <button>Open Menu</button>
    <ul class="dl-menu">
        <li>
            <a href="/">首页</a>
        </li>
        <li>
            <a href="#">文章</a>
            <ul class="dl-submenu">
                <li class="dl-back"><a href="#">返回</a></li>
                <li><a href="/article.html">所有文章</a></li>
                <li><a href="#">分类</a></li>
                <li><a href="#">标签</a></li>
            </ul>
        </li>
        <li>
            <a href="/messages.html">留言</a>
        </li>
        <li>
            <a href="#">关于</a>
            <ul class="dl-submenu">
                <li class="dl-back"><a href="#">返回</a></li>
                <!-- <li><a href="mailto:chengshiwen0103@gmail.com"><img src="/assets/images/icon-email.png" style="width: 18px; margin-right: 3px;"/> Email </a></li> -->
                <!-- <li><a href="https://github.com/cheng-shiwen" target="_blank"><img src="/assets/images/icon-github.png" style="width: 14px; margin-left: 2px; margin-right: 5px;"/> GitHub </a></li> -->
                <!-- <li><a href="http://weibo.com/u/1834994197" target="_blank"><img src="/assets/images/icon-weibo.png" style="width: 16px; margin-left: 1px; margin-right: 4px;"/> 微博 </a></li> -->
                <li><a href="https://github.com/cheng-shiwen" target="_blank"><img src="/assets/images/icon-github.png" style="width: 13px; margin-right: 4px;"/> GitHub </a></li>
                <li><a href="/timeline.html">个人历程</a></li>
                <li><a href="/about.html">了解更多</a></li>
            </ul>
        </li>
    </ul>
</nav>

<script type="text/javascript" src="/assets/js/jquery.dlmenu.js"></script>
<script type="text/javascript">
    $(function() {
        $('#dl-menu').dlmenu();
    });
</script>
