<nav id="dl-menu" class="dl-menuwrapper">
    <button>Open Menu</button>
    <ul class="dl-menu">
        <li>
            <a href="/">首页</a>
        </li>
        <li>
            <a href="#">文章</a>
            <ul class="dl-submenu">
                <li class="dl-back"><a href="#">返回</a></li>
                <li><a href="/article.html">所有文章</a></li>
                <li><a href="#">分类</a></li>
                <li><a href="#">标签</a></li>
            </ul>
        </li>
        <li>
            <a href="/messages.html">留言</a>
        </li>
        <li>
            <a href="#">关于</a>
            <ul class="dl-submenu">
                <li class="dl-back"><a href="#">返回</a></li>
                <li><a href="mailto:chengshiwen0103@gmail.com"><i class="fa fa-envelope fa-fw"></i> Email </a></li>
                <li><a href="https://github.com/cheng-shiwen" target="_blank"><i class="fa fa-github fa-fw"></i> GitHub </a></li>
                <li><a href="http://weibo.com/Septends" target="_blank"><i class="fa fa-weibo fa-fw"></i> 微博 </a></li>
                <li><a href="#">了解更多</a></li>
            </ul>
        </li>
    </ul>
</nav>

<script src="/assets/js/jquery.dlmenu.js"></script>
<script>
    $(function() {
        $('#dl-menu').dlmenu();
    });
</script>
