/*****************reset css***************/
html {color:#000;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {margin:0;padding:0;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {display:block;}
button,input,select,textarea {font-size:12px;}
input,select,textarea {font-size:100%;}
table {border-collapse:collapse;border-spacing:0;}
th {text-align:inherit;}
fieldset,img,a img {border:0;}
iframe {display:block;}
abbr,acronym {border:0;font-variant:normal;}
del {text-decoration:line-through;}
address,caption,cite,code,dfn,th,var {font-style:normal;font-weight:500;}
ol,ul {list-style:none;}
caption,th {text-align:left;}
h1,h2,h3,h4,h5,h6 {font-size:100%;font-weight:500;}
q:before,q:after {content:'';}
sup {vertical-align:text-top;}
sub {vertical-align:text-bottom;}

.clearfix:after {visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}
.clearfix {zoom:1;}
body .hide {display:none;}
.left,.right {display:inline;}
.left {float:left;}
.right {float:right;}


/***************default settings**********/
body {font-family: "微软雅黑","Arial","Helvetica","sans-serif";font-size:16px;}
a {color:#4A75B5;text-decoration:none;outline:none;}
a:hover {text-decoration:underline}
a.external {padding-right:13px;background:url('/assets/images/icons.png') no-repeat right 1px;}
a.external:hover {background-position:right -16px;}
.entry-title,.entry-title a {font-size:30px;font-weight:bold;margin-bottom:6px;color:#000;text-align:center;word-wrap: break-word;}
.entry-title a:hover {text-decoration:none;}
.entry-date {text-align:center;color:#999;margin-bottom:60px;font-size:14px;}

h2 {font-size:22px;font-weight:bold;margin-bottom:25px;}
h3 {font-size:18px;font-weight:bold;margin-bottom:25px;}
h4,h5,h6 {font-weight:bold;margin-bottom:15px;}
p {margin-bottom:40px;line-height:1.8em;}
code,pre {font-family:Monaco,Menlo,Consolas,"Courier New",monospace}
code {padding:1px 4px;font-size:14px;color:#333;background-color:#f5f5f5;border: 1px solid #ccc;border-radius:4px;word-wrap:break-word;}
pre {overflow:auto;border:1px solid #999;page-break-inside:avoid;display:block;padding:9.5px;margin-bottom: 20px;font-size:14px;line-height:1.428571429;color:#333;background-color:#f5f5f5;border:1px solid #ccc;border-radius:4px}
pre code {padding:0;color:inherit;background-color:transparent;border:0;word-wrap:normal;}

/***************layout style**************/
#content {width:1060px;margin:90px auto 30px;min-height:500px;height:auto !important;height:500px;}

/****************entry style**************/
.sidenav {width:240px;background:#fff;float:right;padding:20px;margin-bottom:50px;box-shadow:0 1px 4px #ccc;}
.sidenav h2 {font-size:18px;color:#333;margin-bottom:15px;}
.sidenav li {margin-bottom:12px;word-break:break-all;}
.sidenav a {color:#555;font-size:14px;display:block;}
.entry {margin-bottom:30px;width:680px;float:left;background:#fff;padding:30px;box-shadow:0 2px 6px #ccc;}
.entry ul, .entry ol {margin-bottom:25px;margin-left:25px;}
.entry ul ul, .entry ul ol, .entry ol ul, .entry ol ol {margin-bottom:0;}
.entry p+ul, .entry p+ol {margin-top:-20px;}
.entry ul li {margin-bottom:5px;list-style:disc;line-height:1.8em;}
.entry ol li {margin-bottom:5px;list-style:decimal;line-height:1.8em;}
.entry blockquote {margin-left:25px;font-size:14px;font-style:italic;}
.entry img {max-width:100%;display:block;margin:10px auto;}

/*************index-content style*********/
.index-content {padding-top:30px;}
.index-content .artical-list {width:85%;margin:0 auto;}
.index-content .artical-list li {margin-bottom:70px;list-style:none;}
.index-content h2 {font-size:20px;margin-bottom:15px;}
.index-content h2 a {color:#444}
.index-content h2 a:hover {color:#2f7ed8;text-decoration:none;}
.index-content .title-desc {color:#999;font-size:14px;line-height:1.6em;}

/***************comment style*************/
#ds_container {margin-top:60px;}

/**************menuIndex style************/
#menuIndex {overflow:auto;}
#menuIndex a {display:block;padding:2px 0;}
#menuIndex a:hover {text-decoration:none;}
#menuIndex ul li {font-size:12px;margin-bottom:5px;word-wrap:break-word;padding-left:10px;}
#menuIndex ul li.on {background-color:#e0e0e0;}
#menuIndex li.h1 {font-size:14px;font-weight:normal;padding-left:0;margin-bottom:10px;}
#menuIndex li.h3 {padding-left:25px;}

/**************timeline style*************/
.timeline {width:940px;margin:70px auto 30px auto;min-height:500px;height:auto !important;}
.event_year {position:fixed;width:60px;border-bottom:2px solid #DDD;text-align:center;float:left;margin-top:10px;}
.event_year li {height:40px;line-height:40px;background:#FFF;margin-bottom:2px;font-size:18px;color:#828282;cursor:pointer;}
.event_year li label {display:block;}
.event_year li.current {width:60px;background:url('/assets/images/timeline1.png') 60px 0 no-repeat;color:#FFF;text-align:left;padding-right:10px;}
.event_year li.current label {padding-left:9px;background:#0066ff;}
.event_list {width:850px;float:right;background:url('/assets/images/timeline2.png') 139px 0 repeat-y;margin:10px 0 20px 0;}
.event_list h3 {margin:0 0 10px 132px;font-size:24px;font-family:Georgia;color:#0066ff;padding-left:25px;background:url('/assets/images/timeline1.png') 0 -45px no-repeat;height:38px;line-height:34px;font-style:italic;}
.event_list li {background:url('/assets/images/timeline1.png') 136px -80px no-repeat;}
.event_list li span {width:127px;text-align:right;display:block;float:left;margin-top:10px;line-height:23px}
.event_list li p {width:680px;margin-left:24px;display:inline-block;margin-bottom:20px;padding-left:10px;background:url('/assets/images/timeline1.png') -21px 0 no-repeat;line-height:25px;_float:left;}
.event_list li p span {width:650px;text-align:left;border-bottom:2px solid #DDD;padding:10px 15px;background:#FFF;margin:0;}

@media screen and (min-width: 1380px) {
    #content {width:80%;}
    .sidenav {width:22%;}
    .entry {width:65%;}
}

@media screen and (max-width: 1100px) {
    #content {width:95%;margin:90px auto 15px;}
    #menuIndex {display:none;}
    .sidenav {display:none;}
    .entry {float:none;width:auto;margin-bottom:15px;}
}

@media screen and (max-width: 750px) {
    body {font-size:14px;}

    h2 {font-size:20px;}
    h3 {font-size:16px;}

    .entry {padding:30px 20px;}
    .entry-title, .entry-title a {font-size:24px;}
    .entry-date {margin-bottom:40px;}
    .entry img {max-width:90%;}
    .entry pre code {font-size:13px;}

    .index-content {margin-left:0;padding-right:0;}
    .index-content .artical-list {width:95%;}
}

.gh-profile-card + h2 {
    margin-top: 15px;
}
.gh-profile-card {
    min-width: 240px;
    height: 64px;
    font-size: 16px;
    font-family: Helvetica;
    background: #FFF;
    overflow: hidden;
}
.gh-profile-card a {
    text-decoration: none;
    color: #444;
}
.gh-profile-card .error {
    font-size: 0.8em;
    color: #444;
    padding: 10px;
}
.gh-profile-card .error span {
    display: block;
    border-bottom: 1px solid #DDD;
    padding-bottom: 5px;
    margin-bottom: 5px;
}
.gh-profile-card .error span.remain {
    text-align: center;
    font-weight: bold;
}
.gh-profile-card .profile {
}
.gh-profile-card .avatar {
    width: 64px;
    height: 64px;
    float: left;
    margin: 0 10px 0 0;
    border-radius: 5px;
    box-shadow: 0 0 2px 0 #DDD;
}
.gh-profile-card .name {
    display: block;
    font-size: 1.4em;
    color: #666;
}
.gh-profile-card .location {
    display: block;
    font-size: 0.8em;
    color: #666;
    margin-top: 2px;
}
.gh-profile-card .followMe {
    margin-top: 2px;
}
.gh-profile-card .follow-button {
    display: inline;
    font-size: 0.8em;
    font-weight: normal;
    color: #333;
    padding: 0 10px;
    line-height: 1.5em;
    border: 1px solid #D5D5D5;
    border-radius: 3px;
    background: #EAEAEA;
    background-image: linear-gradient(#FAFAFA, #EAEAEA);
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.9);
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.gh-profile-card .follow-button:hover {
    color: inherit;
    background: #DDD;
    background-image: linear-gradient(#EEE, #DDD);
}
.gh-profile-card .followMe span {
    position: relative;
    background: #FFF;
    margin-left: 8px;
    padding: 0 5px;
    color: #444;
    font-size: 0.8em;
    border: 1px solid;
    border-color: #BBB;
    border-radius: 2px;
}
.gh-profile-card .followMe span::before {
    content: '';
    position: absolute;
    display: block;
    width: 5px;
    height: 5px;
    left: -4px;
    top: 30%;
    background: inherit;
    border-left: 1px solid;
    border-top: 1px solid;
    border-color: inherit;
    transform: rotate(-45deg);
}
