---
layout: default
---

<style type="text/css">
    body { background:#e8e8e8; }
    #content { width: 65%; }
    #content a { text-decoration: none; }
    .entry { float:none; width:auto; }
    hr { margin-top: 30px; margin-bottom: 20px; }
    iframe { float: right; margin-top: -25px; }

    @media screen and (max-width: 750px) {
        #content { width: 95%; }
        .entry { padding: 30px 10px; }
        h2 { font-size: 20px; }
        hr { margin-top: -3px; }
        iframe { margin-top: -30px; }
    }

    @media screen and (max-width: 430px) {
        h2 { font-size: 16px; }
        hr { margin-top: 27px; }
        iframe { margin-right: -10px; }
    }
</style>

<div id="content">
    <div class="entry">
        {{ content }}
    </div>
</div>
